body {
    font-family: Arial, sans-serif;
    background-image: url("images/backg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color:  rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}
.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
}
button:hover {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
    border-radius: 50%;
    transform: translateY(-2px);
}
.social-login {
    margin-top: 20px;
}
.social-login button {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin: 5px 0;
}
.social-login button:hover {
    background-color: #f4f4f4;
}
.terms {
    font-size: 12px;
    margin-top: 10px;
}
.terms a {
    color: #007bff;
    text-decoration: none;
}
.terms a:hover {
    text-decoration: underline;
}